.landing-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.pokemon-logo {
    width: 30%;
    height: auto;
}

.landing-description {
    margin: 0px 0px 20px 0px;
}

.landing-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}