.pokemon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    height: auto;
}

.pokemon-grid-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    animation: scroll-up 25s linear infinite;
}

.grid-item-img {
    width: 50px;
    height: auto;
}

@keyframes scroll-up {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-1030%);
    }
}