.error-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.error-image {
    width: 500px;
    height: auto;
}

.error-description {
    margin-top: 0;
    margin-bottom: 20px;
}

.error-title {
    margin: 5px;
    text-align: center;
}