.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    gap: 5px;
}

.footer-text {
    font-size: 14px;
    color: #161616;
    white-space: nowrap;
}

a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-image {
    width: 17px;
    height: 17px;
    transition: transform 0.7s ease-in-out;
}

.footer-image:hover {
    transform: rotate(360deg);
}